@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-timing-function: 0.5s;
          transition-timing-function: 0.5s;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a:visited {
  background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  -webkit-box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
          box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(106.124px);
          backdrop-filter: blur(106.124px);
  border-radius: 2.21092px;
  color: #FFFFFF;
}

a::after {
  --scale: 0;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 3px;
  background: linear-gradient(135deg, rgb(95, 104, 236), rgb(224, 86, 206));
  -webkit-transform: scaleX(var(--scale));
  transform: scaleX(var(--scale));
  -webkit-transform-origin: var(--x) 50%;
  transform-origin: var(--x) 50%;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1), -webkit-transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
}

a:hover {
  opacity: 1;
}

a:hover::after {
  --scale: 1;
}

/* block content 1 */
.bodyBlure {
  position: absolute;
  width: 25em;
  margin: 3em 7em;
  background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  border-radius: 50%;
  -webkit-filter: blur(7.5rem);
          filter: blur(7.5rem);
  z-index: -100;
}

#bodyBlure {
  margin-left: 40%;
  z-index: -100;
}

#bodyBlure1 {
  margin-left: 15%;
  width: 25em;
  opacity: 0.7;
}

#bodyBlure2 {
  margin-left: 25%;
  -webkit-filter: blur(8.5rem);
          filter: blur(8.5rem);
  width: 25em;
  opacity: 0.7;
  z-index: -100;
}

.bodyBlure::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  padding-top: 100%;
}

/* block content 1 */
.BodyBackground {
  z-index: -100;
  margin: 0 auto;
  display: flex-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 10%;
  max-width: 1484px;
}

.container1 {
  max-width: 1404px;
  width: 100%;
  margin: 0 auto;
}

.header {
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0px 50px 0px 60px;
  margin-left: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(92.23deg, #2d0657 21.43%, #5d1779 50.63%, #110927 100%, #18042e 117.04%);
  opacity: 0.95;
  z-index: 10000;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

#header__contant {
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.topnav {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.topnav #logo {
  margin-top: 15px;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  opacity: 0.8;
}
.topnav a:hover {
  text-decoration: none;
  color: white;
  opacity: 1;
}

.active {
  opacity: 1;
  color: white;
}

.topnav .icon {
  display: none;
  text-decoration: none;
}
.topnav .icon .fa-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.topnav .icon .fa-bars:before {
  content: none;
}

a {
  position: relative;
  font-weight: 600;
  text-decoration: none;
  color: white;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: opacity 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
}

.block-content {
  margin: 0 auto;
  width: 100%;
  padding: 0px 30px 0px 30px;
}

.block-content-1 {
  max-width: 1405px;
  width: 100%;
  max-height: 708px;
  height: 100%;
}

.menu-styles {
  text-decoration: none;
  border-bottom: none;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
}

/* block content 2 */
.block-content-2 {
  margin: 100px 0px 0px 0px;
  max-width: 1393.98px;
  max-height: 708.6px;
}

.block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block__element_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.block__element_2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  margin-left: 53px;
}

.block-content-2__title {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: "Spartan";
  font-style: normal;
  font-weight: 600;
  font-size: 66.3276px;
  line-height: 137.4%;
  color: #FFFFFF;
}

.block-content-2__title span {
  background: linear-gradient(272.38deg, #43A5E3 46.06%, #FF56F6 81.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.block-content-2__text {
  width: 100%;
  height: 88.44px;
  margin-top: 21px;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  font-size: 26.531px;
  line-height: 44px;
  color: #FFFFFF;
}

.block-content-2__button {
  margin-top: 43px;
  width: 249.83px;
  height: 64.12px;
  border: 2.88px solid;
  -o-border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
     border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  border-image-slice: 1;
  background: linear-gradient(92.23deg, #406AFF 21.43%, #3BACE2 30.63%, #B936EE 80%, #FF56F6 117.04%);
  -webkit-box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
          box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(106.124px);
          backdrop-filter: blur(106.124px);
  border-radius: 2.21092px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  color: FFFFFF;
  -webkit-clip-path: polygon(15% 0%, 100% 0, 100% 70%, 85% 100%, 0 100%, 0% 35%);
          clip-path: polygon(15% 0%, 100% 0, 100% 70%, 85% 100%, 0 100%, 0% 35%);
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}
.block-content-2__button span {
  width: 87.33px;
  height: 25.43px;
  left: 170.87px;
  top: 548.31px;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  color: #FFFFFF;
}

.block-content-2__button:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.block-content-2__text2 {
  width: 148.13px;
  height: 25.43px;
  margin-left: 38px;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;
  background: linear-gradient(89.89deg, #42A6E3 2.33%, #FF56F6 101.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contantBlock1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 87px;
  font-family: "Aldrich";
  font-style: normal;
  font-weight: 400;
  font-size: 39.7965px;
  line-height: 53px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.221092px;
  color: #FFFFFF;
}
.contantBlock1 ul {
  padding: 0;
}

.contantBlock1 span {
  width: 63.01px;
  height: 0px;
  border: 1.10546px solid rgba(255, 255, 255, 0.26);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.contantBlock1__litle {
  font-family: "Alethia Next";
  font-style: normal;
  font-weight: 400;
  font-size: 17.6873px;
  line-height: 22px;
}

/* flex-элемент №2 */
.block-content-2__img {
  width: 401.28px;
  height: 477.33px;
  -webkit-filter: drop-shadow(0px 4.42184px 4.42184px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4.42184px 4.42184px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4.42184px 4.42184px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4.42184px 4.42184px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4.42184px 4.42184px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4.42184px 4.42184px rgba(0, 0, 0, 0.25));
  -webkit-clip-path: polygon(20% 0%, 100% 0, 100% 90%, 85% 100%, 0 100%, 0% 15%);
          clip-path: polygon(20% 0%, 100% 0, 100% 90%, 85% 100%, 0 100%, 0% 15%);
  border: 1.88px solid;
  -o-border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
     border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  border-image-slice: 1;
}

.block-content-2__img2 {
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 336.06px;
  height: 181.3px;
  left: 160.36px;
  top: -115.31px;
  background: -webkit-gradient(linear, left top, right top, color-stop(-1.52%, rgba(255, 255, 255, 0.1)), color-stop(104.35%, rgba(255, 255, 255, 0.024)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
  -webkit-backdrop-filter: blur(30.4001px);
          backdrop-filter: blur(30.4001px);
  -webkit-clip-path: polygon(15% 0%, 100% 0, 100% 100%, 75% 100%, 0 100%, 0% 25%);
          clip-path: polygon(15% 0%, 100% 0, 100% 100%, 75% 100%, 0 100%, 0% 25%);
  border-radius: 8.84367px;
  padding: 30px 10px 10px 20px;
  font-family: "Rajdhani";
  font-style: normal;
  border: 1.88px solid;
  -o-border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
     border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  border-image-slice: 1;
  /* flex-элемент №3 */
}

.block-content-2__CardContant2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -10px;
}
.block-content-2__CardContant2 h5 {
  margin-top: 5px;
}
.block-content-2__CardContant2 .contantBlock12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 17.6873px;
  line-height: 35px;
  margin-top: 10px;
}
.block-content-2__CardContant2 .contantBlock12 li {
  margin-top: -15px;
}
.block-content-2__CardContant2 .contantBlock2__litle {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-size: 11.0546px;
  line-height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  opacity: 0.7;
}
.block-content-2__CardContant2 p {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 11.0546px;
  line-height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  opacity: 0.7;
}

.block-content-2__CardContant3 {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 11.0546px;
  line-height: 35px;
  margin-top: -20px;
  color: #FFFFFF;
}
.block-content-2__CardContant3 p {
  font-weight: 400;
  font-size: 11.0546px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.7;
}
.block-content-2__CardContant3 h6 {
  margin-top: -20px;
  opacity: 1;
}
.block-content-2__CardContant3 span {
  font-weight: 100;
  font-size: 11.0546px;
  line-height: 35px;
  margin-left: 5px;
  color: #FFFFFF;
  opacity: 0.7;
}
.block-content-2__CardContant3 button {
  position: absolute;
  width: 119.39px;
  height: 37.59px;
  margin-top: -50px;
  margin-left: 185px;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 17.6873px;
  line-height: 23px;
  color: #FFFFFF;
  background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  -webkit-box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
          box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(106.124px);
          backdrop-filter: blur(106.124px);
  color: #FFFFFF;
  border-radius: 2.21092px;
}
.block-content-2__CardContant3 button:hover {
  background: linear-gradient(92.23deg, #406AFF 21.43%, #3BACE2 50.63%, #B936EE 100%, #FF56F6 117.04%);
  -webkit-box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
          box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.block__element_3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-top: 50px;
}

.block-content-3__img2000 {
  padding: 36px 36px 30px 30px;
}

.block-content-3__CardContant2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -10px;
}
.block-content-3__CardContant2 h5 {
  margin-top: 5px;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 23.0401px;
  line-height: 46px;
  color: #ffffff;
}
.block-content-3__CardContant2 p {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 14.4001px;
  line-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  opacity: 0.7;
}
.block-content-3__CardContant2 h6 {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 20.1601px;
  line-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}
.block-content-3__CardContant2 img {
  margin-right: 8px;
}
.block-content-3__CardContant2 .contantBlock123 {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 23.0401px;
  line-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  margin-top: 10px;
}
.block-content-3__CardContant2 .contantBlock123 li {
  margin-top: -15px;
}
.block-content-3__CardContant2 .contantBlock3__litle {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-size: 14.4001px;
  line-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  opacity: 0.7;
}
.block-content-3__CardContant2 p {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 11.0546px;
  line-height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  opacity: 0.7;
}

#button-explore {
  display: none;
}

.block-content-3__CardContant3 {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 11.0546px;
  line-height: 35px;
  margin-top: -20px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.block-content-3__CardContant3 p {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 14.4001px;
  line-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  opacity: 0.7;
}
.block-content-3__CardContant3 img {
  width: 18px;
  height: 26px;
}
.block-content-3__CardContant3 h6 {
  margin-top: -15px;
  opacity: 1;
  font-weight: 500;
  font-size: 16.0546px;
}
.block-content-3__CardContant3 span {
  font-weight: 300;
  font-size: 14.0546px;
  line-height: 35px;
  margin-left: 5px;
  color: #FFFFFF;
  opacity: 0.7;
}
.block-content-3__CardContant3 button {
  width: 155.52px;
  height: 48.96px;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 23.0401px;
  line-height: 29px;
  background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  -webkit-box-shadow: 0px 5.76002px 139.681px rgba(255, 86, 246, 0.51);
          box-shadow: 0px 5.76002px 139.681px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(138.241px);
          backdrop-filter: blur(138.241px);
  margin-top: 30px;
  background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  -webkit-box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
          box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(106.124px);
          backdrop-filter: blur(106.124px);
  color: #FFFFFF;
  border-radius: 2.21092px;
}
.block-content-3__CardContant3 button img {
  width: 31.68px;
  height: 12.01px;
  margin-top: -5px;
}
.block-content-3__CardContant3 button:hover {
  background: linear-gradient(92.23deg, #406AFF 21.43%, #3BACE2 50.63%, #B936EE 100%, #FF56F6 117.04%);
  -webkit-box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
          box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.block__element_3__block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 43px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.block__element_3__block__content img {
  margin-bottom: 50px;
  margin-right: 5%;
}

.block-content-3 {
  margin: 0;
  padding: 0;
  margin-top: 450px;
}

.block-content-3__container {
  margin: 0px 30px;
}
.block-content-3__container .block-content-4__title {
  margin-bottom: 47px;
}
.block-content-3__container .swiper-slide {
  overflow: hidden;
  border-block-color: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  color: rgba(255, 255, 255, 0.5);
  border: 1.88px solid;
  -o-border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
     border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  border-image-slice: 1;
}

.block__element_4 {
  margin-top: 60px;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.block-content-4__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -170px;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 26.531px;
  line-height: 33px;
  color: #FFFFFF;
  margin-bottom: 50px;
  /* block content 2 */
  /* block content 5 */
}
.block-content-4__title h3 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 26.531px;
  line-height: 33px;
  color: #FFFFFF;
}
.block-content-4__title a {
  text-decoration: none;
  color: white;
}

.block-content-5 {
  margin: 200px 0px 0px -20px;
}
.block-content-5 .block-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.block-content-5 .block-content-5__contant1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.block-content-5 .block-content-5__contant2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.block-content-5 .block-content-5__title {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 26.531px;
  line-height: 33px;
  color: #FFFFFF;
  padding-left: 25px;
}
.block-content-5 .block-content-5__block-button {
  /*display: flex*/
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex: 0 1 100%;
      flex: 0 1 100%;
}
.block-content-5 .block-content-5__column {
  width: 43%;
  height: 98.39px;
  margin: 3% 3%;
  background-color: #38194d;
  border-bottom-color: 25px #ffffff;
  -webkit-filter: drop-shadow(0px 5.76002px 139.681px rgba(255, 86, 246, 0.51));
          filter: drop-shadow(0px 5.76002px 139.681px rgba(255, 86, 246, 0.51));
  -webkit-backdrop-filter: blur(138.241px);
          backdrop-filter: blur(138.241px);
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 26.531px;
  line-height: 33px;
  border-block-color: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  color: rgba(255, 255, 255, 0.5);
  border: 1.88px solid;
  -o-border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
     border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  border-image-slice: 1;
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
}
.block-content-5 .block-content-5__column span {
  text-align: center;
}
.block-content-5 a {
  text-decoration: none;
  color: white;
}
.block-content-5 .block-content-5__item {
  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11;
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
}
.block-content-5 .block-content-5__column:hover {
  background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  -webkit-box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
          box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(106.124px);
          backdrop-filter: blur(106.124px);
  border-radius: 2.21092px;
  color: #FFFFFF;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.block-content-5 .block-content-5__column--active {
  background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  -webkit-box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
          box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(106.124px);
          backdrop-filter: blur(106.124px);
  border-radius: 2.21092px;
  color: #FFFFFF;
}

.block-content-5__CardContant3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.block-content-5--contant2__ViewAll {
  font-family: "Orbitron";
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  color: #FFFFFF;
  height: 25px;
}

.tabs__nav-btn.active {
  background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  -webkit-box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
          box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(106.124px);
          backdrop-filter: blur(106.124px);
  border-radius: 2.21092px;
  color: #FFFFFF;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tabs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.tabs__item {
  display: none;
}
.tabs__item.active {
  display: block;
}

.block-content-6 {
  margin-top: 350px;
  color: #FFFFFF;
}
.block-content-6 .mySwiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block-content-6 .swiper-slide {
  background: -webkit-gradient(linear, left top, right top, color-stop(-1.52%, rgba(255, 255, 255, 0.1)), color-stop(104.35%, rgba(255, 255, 255, 0.024)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
  -webkit-backdrop-filter: blur(39.6002px);
          backdrop-filter: blur(39.6002px);
  overflow: hidden;
  border-block-color: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  color: rgba(255, 255, 255, 0.5);
  border: 1.88px solid;
  -o-border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
     border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  border-image-slice: 1;
}
.block-content-6 .swiper-slide .mySw {
  width: 100%;
}
.block-content-6 .block-content-6__BlockSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid rgba(90, 88, 88, 0);
  z-index: 1;
}
.block-content-6 .block-content-6__BlockSlide #Logo-user {
  margin-top: -90px;
}
.block-content-6 h3, .block-content-6 h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-size: 24.3201px;
  line-height: 26px;
  color: #ffffff;
}
.block-content-6 h6 {
  font-weight: 300;
  font-size: 20.1601px;
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFB1EE;
}
.block-content-6 #image-46 {
  margin: 5px 0px 0px 8px;
}
.block-content-6 .contantBlock40 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 31.6897px;
  line-height: 33px;
}
.block-content-6 ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
}
.block-content-6 .contantBlock3__litle5 {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-size: 19.8061px;
  line-height: 33px;
  opacity: 0.7;
}
.block-content-6 .block-content-6__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px 90px 40px 90px;
  width: 234.84px;
  height: 50.85px;
  background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  -webkit-box-shadow: 0px 4.81747px 116.824px rgba(255, 86, 246, 0.51);
          box-shadow: 0px 4.81747px 116.824px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(115.619px);
          backdrop-filter: blur(115.619px);
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-size: 19.8983px;
  line-height: 25px;
  color: #FFFFFF;
  border-block-color: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  color: rgba(255, 255, 255, 0.5);
  border: 1.88px solid;
  -o-border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
     border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  border-image-slice: 1;
}
.block-content-6 .block-content-6__button span {
  margin-top: 10px;
  opacity: 1;
  color: #ffffff;
}
.block-content-6 .block-content-6__button:hover {
  background: linear-gradient(92.23deg, #406AFF 21.43%, #3BACE2 50.63%, #B936EE 100%, #FF56F6 117.04%);
  -webkit-box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
          box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.block-content-7 {
  margin: 0 auto;
  margin: 160px -15px 0px -15px;
  width: 102%;
}
.block-content-7 h3 {
  text-align: center;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 26.531px;
  line-height: 33px;
  color: #FFFFFF;
}
.block-content-7 span {
  color: #FF56F6;
  margin-left: 9px;
}
.block-content-7 img {
  width: 12.47px;
  height: 7.76px;
  margin: 15px 0px 0px 10px;
}
.block-content-7 .block-content-7__Title2 {
  margin: 0 auto;
  width: 506.3px;
  height: 69.64px;
  margin-top: 23.22px;
}
.block-content-7 .block-content-7__Title2 h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17.6873px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}
.block-content-7 .block-content-7__BlockContant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.block-content-7 .block-content-7__BlockContant .block-content-7__BlockContant7, .block-content-7 .block-content-7__BlockContant .Visible-None {
  width: 395px;
  height: 123.81px;
  left: 109px;
  top: 3934.71px;
  -webkit-backdrop-filter: blur(37.9079px);
          backdrop-filter: blur(37.9079px);
  border-radius: 28.5719px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 17px 17px;
  padding-right: 15px;
  backdrop-filter: blur(37.9079px);
  border-radius: 28.5719px;
  border: 2px solid rgba(0, 179, 71, 0.15);
}
.block-content-7 .block-content-7__BlockContant .block-content-7__BlockContant7 h6, .block-content-7 .block-content-7__BlockContant .Visible-None h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 19.0479px;
  line-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.8);
}
.block-content-7 .block-content-7__BlockContant .block-content-7__BlockContant7 #img74875, .block-content-7 .block-content-7__BlockContant .Visible-None #img74875 {
  margin-left: 0px;
  width: 69.84px;
  height: 69.84px;
  margin-top: 25px;
}
.block-content-7 .block-content-7__BlockContant .block-content-7__BlockContant7 ul, .block-content-7 .block-content-7__BlockContant .Visible-None ul {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 19.0479px;
  line-height: 34px;
  margin: 27px 0 0 -30px;
  color: #FFFFFF;
}
.block-content-7 .block-content-7__BlockContant .block-content-7__BlockContant7 #li-text, .block-content-7 .block-content-7__BlockContant .Visible-None #li-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13.0479px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.block-content-7 .block-content-7__BlockContant .block-content-7__BlockContant7 #li-text img, .block-content-7 .block-content-7__BlockContant .Visible-None #li-text img {
  width: 10px;
  height: 16px;
  margin: 7px 10px 0px 0px;
}
.block-content-7 .block-content-7__BlockContant .block-content-7__BlockContant7 .block-content-7__Ball, .block-content-7 .block-content-7__BlockContant .Visible-None .block-content-7__Ball {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 50px;
  width: 100.6px;
  height: 35.37px;
  border: 2px solid rgba(0, 179, 71, 0.15);
  background: rgba(0, 179, 71, 0.15);
  border-radius: 17.5283px;
}
.block-content-7 .block-content-7__BlockContant .block-content-7__BlockContant7 span, .block-content-7 .block-content-7__BlockContant .Visible-None span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14.7012px;
  line-height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #00FF66;
}
.block-content-7 .block-content-7__BlockContant .block-content-7__BlockContant7 .block-content-7__BallRed, .block-content-7 .block-content-7__BlockContant .Visible-None .block-content-7__BallRed {
  width: 100.6px;
  height: 35.37px;
  margin-top: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(235, 20, 20, 0.15)), to(rgba(235, 20, 20, 0.1005)));
  background: linear-gradient(180deg, rgba(235, 20, 20, 0.15) 0%, rgba(235, 20, 20, 0.1005) 100%);
  border-radius: 17.5283px;
}
.block-content-7 .block-content-7__BlockContant .block-content-7__BlockContant7 .block-content-7__BallRed span, .block-content-7 .block-content-7__BlockContant .Visible-None .block-content-7__BallRed span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14.7012px;
  line-height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FF0000;
}

.block-content-7__BlockButtom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin: 0 auto;
  margin-top: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-content-7__buttom {
  margin: 0 auto;
  width: 234.84px;
  height: 50.85px;
  background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  -webkit-box-shadow: 0px 4.81747px 116.824px rgba(255, 86, 246, 0.51);
          box-shadow: 0px 4.81747px 116.824px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(115.619px);
          backdrop-filter: blur(115.619px);
  border-block-color: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  color: rgba(255, 255, 255, 0.5);
  border: 1.88px solid;
  -o-border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
     border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  border-image-slice: 1;
}
.block-content-7__buttom span {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-size: 19.8983px;
  line-height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
}

.block-content-7__buttom:hover {
  background: linear-gradient(92.23deg, #406AFF 21.43%, #3BACE2 50.63%, #B936EE 100%, #FF56F6 117.04%);
  -webkit-box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
          box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.block-content-8__BlockOll {
  margin-top: 170px;
  background: url(/img/block8-fon.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.block-content-8__BlockOll p {
  width: 100%;
  height: 550px;
}

#BackImg {
  width: 100%;
}

.block-content-8__BlockText {
  position: relative;
  max-width: 577px;
  height: 64%;
  margin: -350px 0px 0px 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(72.8013px);
          backdrop-filter: blur(72.8013px);
  border-radius: 2.88322px;
  padding: 50px 47px 50px 67px;
  border-block-color: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  color: rgba(255, 255, 255, 0.5);
  border: 1.88px solid;
  -o-border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
     border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  border-image-slice: 1;
}
.block-content-8__BlockText h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 44.5093px;
  line-height: 60px;
  -webkit-font-feature-settings: "salt" on, "liga" off;
          font-feature-settings: "salt" on, "liga" off;
  color: #FFFFFF;
}
.block-content-8__BlockText p {
  margin-top: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20.0292px;
  line-height: 36px;
  -webkit-font-feature-settings: "salt" on, "liga" off;
          font-feature-settings: "salt" on, "liga" off;
  color: #FFFFFF;
}
.block-content-8__BlockText h3 {
  margin: 44.77px 30px 0px 0px;
}
.block-content-8__BlockText h3 img {
  margin: 0px 8.7px 0px 44.51px;
}

.block-content-9 {
  margin-top: 160px;
}
.block-content-9 .block-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.block-content-9 .block-content-9__block1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 698.65px;
  height: 289.63px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  border-radius: 4.42184px;
}
.block-content-9 .block-content-9__block1 img {
  width: 100%;
}
.block-content-9 .block-content-9__block2 {
  width: 698.65px;
  height: 289.63px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}
.block-content-9 .block-content-9__block2 h1 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 39.7965px;
  line-height: 50px;
  margin-top: 25px;
  -webkit-font-feature-settings: "salt" on, "liga" off;
          font-feature-settings: "salt" on, "liga" off;
  color: #FFFFFF;
}
.block-content-9 .block-content-9__block2 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-size: 19.8983px;
  line-height: 35px;
  margin-top: 27.64px;
  -webkit-font-feature-settings: "salt" on, "liga" off;
          font-feature-settings: "salt" on, "liga" off;
  color: #FFFFFF;
  margin-top: 27.64px;
}
.block-content-9 .block-content-9__block2 input {
  margin-top: 49.74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15.4764px 17.6873px;
  gap: 11.05px;
  width: 274.15px;
  height: 53.06px;
  background: #F4F5F7;
  border-radius: 5.5273px 0px 0px 5.5273px;
}
.block-content-9 .block-content-9__block2 #block-content-9__Block2Input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.block-content-9 .block-content-9__block2 #block-content-9__Block2Button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 143.71px;
  height: 53.06px;
  z-index: 5;
  background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  -webkit-box-shadow: 0px 4.81747px 116.824px rgba(255, 86, 246, 0.51);
          box-shadow: 0px 4.81747px 116.824px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(115.619px);
          backdrop-filter: blur(115.619px);
  margin: -52.5px 0px 0px 280px;
  border: 1.88px solid;
  -o-border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
     border-image: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  border-image-slice: 1;
  border-radius: 0px 5.5273px 5.5273px 0px;
  border-block-color: linear-gradient(-92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15.4764px;
  line-height: 22px;
  -webkit-font-feature-settings: "salt" on, "liga" off;
          font-feature-settings: "salt" on, "liga" off;
  color: #FFFFFF;
}
.block-content-9 .block-content-9__block2 #block-content-9__Block2Button:hover {
  background: linear-gradient(92.23deg, #406AFF 21.43%, #3BACE2 50.63%, #B936EE 100%, #FF56F6 117.04%);
  -webkit-box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
          box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.block-content-10 {
  margin-top: 160px;
  /* Слайдер */
}

#footer-line2 {
  width: 100%;
  height: 1.11px;
  background: #FFFFFF;
  border: 2px solid #ffffff;
  opacity: 0.2;
  margin-bottom: 50px;
}

.Footer {
  padding-bottom: 50px;
}

.block-content-10__Akardeon, .Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15.4764px;
  line-height: 27px;
  -webkit-font-feature-settings: "salt" on, "liga" off;
          font-feature-settings: "salt" on, "liga" off;
  color: #D9DBE1;
  margin-bottom: 86.04px;
}
.block-content-10__Akardeon .block-content-10__AkardeonBlock1, .Footer .block-content-10__AkardeonBlock1 {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.block-content-10__Akardeon .block-content-10__AkardeonBlock1 a, .Footer .block-content-10__AkardeonBlock1 a {
  font-size: 23px;
  width: 23px;
  background: #47206b;
  border-radius: 50%;
  margin-right: 5px;
  z-index: -100;
}
.block-content-10__Akardeon .block-content-10__AkardeonBlock1 img, .Footer .block-content-10__AkardeonBlock1 img {
  margin: 0px 10px 5px 10px;
}
.block-content-10__Akardeon .block-content-10__AkardeonBlock1 h6, .Footer .block-content-10__AkardeonBlock1 h6 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;
  color: #FFFFFF;
}
.block-content-10__Akardeon .block-content-10__AkardeonBlock1 p, .Footer .block-content-10__AkardeonBlock1 p {
  margin: 31px 0px 26px 0px;
}
.block-content-10__Akardeon button, .Footer button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 19.8983px;
  line-height: 31px;
  -webkit-font-feature-settings: "salt" on, "liga" off;
          font-feature-settings: "salt" on, "liga" off;
  color: #FFFFFF;
  margin: 0px 0px 17.69px 28px;
  background: none;
}
.block-content-10__Akardeon li, .Footer li {
  margin-bottom: 13.5px;
  text-align: left;
}
.block-content-10__Akardeon li span, .Footer li span {
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 400;
  font-size: 22.1092px;
  line-height: 27px;
  color: #2EC5CE;
}
.block-content-10__Akardeon li a, .Footer li a {
  text-decoration: none;
}

.block-content-10__AkardeonBlock {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.block-content-10__AkardeonBlock .accordion {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.block-content-10__AkardeonBlock .accordion .panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out-in;
  transition: max-height 0.2s ease-out-in;
}